<div class="container">
<div class="row">
<h1 class="text-center">Dashboard</h1>
<div class="text-center"><%= link_to "New Bag", new_bag_path, class: "btn btn-primary btn-sm" %></div>
<div class="clearfix"></div>
<div class="col-md-4">
<div class="dash-box">
<h4 class="white uppercase">
Bags
</h3>
</div>
<table class="table table-condensed">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Available</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @bags.each do |bag| %>
        <tr>
          <td><%= bag.id %></td>
          <td><%= link_to bag.name, bag_path(bag) %></td>
          <td><%= bag.availability %></td>
          <td><%= link_to "Edit", edit_bag_path(bag) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
</div>
<div class="col-md-4">
<div class="dash-box">
<h4 class="white uppercase">
Purchased
</h3>
</div>
<%= render "purchased" %>
</div>
<div class="col-md-4">
<div class="dash-box">
<h4 class="white uppercase">
Sales
</h3>
</div>
<%= render "sales" %>
</div>
</div>
</div>
